/* your styles go here */
/*escalar imagenes*/
#img-recomendadas:hover{ 
    -webkit-transform: scale(2);
    transform: scale(2)
}
/*promoción estilo*/
.coupon {
    border: 5px dotted #bbb;
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
}
.container {
    padding: 2px 16px;
    background-color: #f1f1f1;
}
.promo {
    background: #ccc;
    padding: 3px;
}
.expire {
    color: red;
}

.strongText { 
    font-size:48px;
}

.strongh2Text { 
    font-size:23px;
    color: darkgreen;
}
