/* Style the tab */
.tab {

    /*border: 1px solid #ccc;
    background-color: #f1f1f1;*/
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #ccc;
    color: aliceblue;
    border:none; /* Green border */
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #A1A0A0;
    color: currentColor;
    border: 1px solid #27AE60;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #33b35a;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}